version: "3.9"

services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "15672:15672"

  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio-data:/data

  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: pdfdb
      POSTGRES_USER: pdfuser
      POSTGRES_PASSWORD: pdfpass
    volumes:
      - postgres-data:/var/lib/postgresql/data

  ingestion-service:
    build: ./ingestion-service
    ports:
      - "8000:8000"
    depends_on:
      - rabbitmq

  pdf-service:
    build: ./pdf-service
    depends_on:
      - rabbitmq
      - minio

  storage-service:
    build: ./storage-service
    depends_on:
      - rabbitmq
      - postgres

  notification-service:
    build: ./notification-service
    depends_on:
      - rabbitmq

  prometheus:
    image: prom/prometheus
    volumes:
      - ./observability/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"

volumes:
  minio-data:
  postgres-data:
